@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Quicksand', sans-serif;
}
a {
  color: #333;
}

a:hover {
  color: #333;
}

.yellowTitle {
  @apply text-cYellow font-bold text-lg lg:text-2xl my-4;
}

.normalText {
  @apply text-sm lg:text-base;
}

.largeText {
  @apply text-base lg:text-lg;
}

.subtitle {
  @apply text-2xl lg:text-4xl font-bold;
}

.nice-scrollbar::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.nice-scrollbar::-webkit-scrollbar-track {
  background: #f4f4f4;
  border-radius: 20px;
}

/* Handle */
.nice-scrollbar::-webkit-scrollbar-thumb {
  background: #f9a826;
  border-radius: 20px;
}

/* Handle on hover */
.nice-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #f4f4f4;
}

.little-scrollbar::-webkit-scrollbar {
  width: 4px;
  border-radius: 20px;
}

.little-scrollbar::-webkit-scrollbar-thumb {
  background: #f4f4f4;
  border-radius: 20px;
}

.imgBackground {
  background: url('/background.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}
/* .imgBackground::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    95.83deg,
    rgba(255, 255, 255, 0.4) 13.62%,
    rgba(255, 255, 255, 0.1) 77.25%
  );
  /* backdrop-filter: blur(23px); */

.reel::-webkit-scrollbar {
  display: none;
}

.semiCircle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: rotateZ(316deg) translate(-46%, -190%);
  border-radius: 150px 150px 0 0;
  background-color: #d3f3e4;
}
.semiImage {
  transform: translate(-60%, 10%);
  z-index: 5;
}

.underline {
  position: absolute;
  bottom: 0px;
  left: 0px;
  /* transform: translate(-50%, -50%); */
  width: 100%;
  height: 2px;
  background-color: #333;
}

@media screen and (max-width: 640px) {
  .semiCircle {
    left: 90%;
  }
  .semiImage {
    transform: translate(-1%, 10%);
  }
}
